body{
    background-color:#eee;
    margin:auto;
}
header {
    height:400px;
    width:100%;
/*
 * Color pattern's : (#001220) (#FBAE3C)
 * also (#8A3FFC)
 */
    background-image: url('media/svg/wallpaper.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color:white;
    text-align:center;
}

header ul, header ul li, header nav{
display:inline-block;
}
header nav{
    margin-top:10px;
}
header ul li{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    border:2px solid #fff;
    border-radius:60% 10%;
}
header ul li:hover{
    background-color:#fff;
    color:black;
}
header ul li a{
    text-decoration:none;
    color:inherit;
}


#section1{
    width:100%;
    height: 200px;
    background-image: url('media/svg/wave1.svg');
    background-size: cover;
/*    background-position: center;*/
    background-repeat: no-repeat;
}



