
/*Global Stylesheet for all files*/
.noselect {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none;    /* For Firefox */
}

/* this is used to toggle the view once screen is changed from project to workspace,
i've add it here instead of project.css  because maybe i'll use it again with another element */
.ToggleLikeSwitchScreen{
    visibility: hidden;
}



#imgDIALOG{
    display: none;
    z-index: 20;
    background-color: slategrey;
    height: 200px;
}