
/*Global Stylesheet for all files*/
.noselect {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none;    /* For Firefox */
}

/* this is used to toggle the view once screen is changed from project to workspace,
i've add it here instead of project.css  because maybe i'll use it again with another element */
.ToggleLikeSwitchScreen{
    visibility: hidden;
}



#imgDIALOG{
    display: none;
    z-index: 20;
    background-color: slategrey;
    height: 300px;
    position: absolute;
    width: 250px;
    overflow: hidden;
    text-align:center;
}

#imgDIALOG #imgArea
{
    overflow: auto;
    height: 70%;
}

.DivContainer{
    border: dotted 3px black;
    margin-top: 10px;
    display: flex;
    /* cursor: pointer; */
    align-items: center;
}
.DivContainer .DialogImages{
    width: 150px;
}

.DivContainer .FileName {
    /* transform: rotate(-90deg); */
    writing-mode: vertical-rl;
    max-height: 15%;
    transform: rotate(180deg);
    overflow: hidden;
    text-overflow: ellipsis;
}
.DivContainer .FileName:hover{
    background-color: #4CAF50;
}


/* 
Custom Cursor Area :
*/


/* Custom Mouse Cursor */
.custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff00ff;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.4s ease; /* Smooth transition for cursor movements */
    opacity: 0; /* Initially hidden */

}

/* Dot appears only on hover, at fixed size */
.custom-cursor.hovered::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px; /* Fixed size of the dot */
    height: 3px;
    background-color: #ffffff; /* Color for the dot */
    border-radius: 50%;
}

/* Larger cursor when hovering over .hover-effect elements */
.custom-cursor.hovered {
    transform: scale(2); /* Scale the cursor circle, but not the dot */
    background-color: #ff00ff4a;
}
/* Hoverable Elements */
.hover-effect {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hover-effect:hover {
     /* transform: scale(1.1);  */

}


.draggable{
    z-index: 90;

}
.clone {
    position: absolute;
    pointer-events: none; /* Disable interaction with the clone */
    opacity: 0.5;
}
html,body{
    cursor: none;
}