body,html{
    height:100%;
}
.project_container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
height:80%;
min-height:80%;
max-height:85%;
text-align:center;
}

.project_div{
    display:inline-block;
    border: 1px solid #000;
    padding: 5px;
    min-width:22%;
    max-width:24%;
    height:100%;

    box-sizing: border-box;
}

/*[START]Toolkit*/
.kit{
    background-color:darkgray;
    overflow: hidden;
    margin-bottom:10px;
}
.kit p{
    display:inline;
    padding:0;
    margin:0;
    cursor:default;
}
.kit .kit_add{
    padding:10px;
    text-align:center;
    background:green;
    color:white;
}
.kit .kit_right{float:right;width:45%;cursor:pointer;}
.kit .kit_left{float:left;width:45%;}

.kit::after {
    content: "";
    clear: both;
}
/*[END]Toolkit*/

.project_timeline_kit{
    text-align:left;
    font-weight:bolder;
    font-size:10px;

    background:lightcoral;
    color:white;
    cursor:pointer;
}
.project_timeline_kit:hover{
    background:navy;
    color:white;
}

.project_timeline_kit::before {
    content: "[*]";               /* Unicode for the bullet */
    margin-right: 10px;         /* Space between the bullet and the paragraph */
    font-size: 1.5em;           /* Adjust the bullet size (optional) */
    color: black;               /* Bullet color */
}



.project_properties{
    position:relative; /*the main use for this is to fix the SAVE BUTTON to the bottom*/
}

.project_live{
    display: flex; /* Make parent a flex container */
    flex-direction: column; /* Align children in a column */
    padding:0; /* TO INSURE THE IFRAME SHOWS THE CONTENT EXACTLY INSIDE IT*/
}


#Save_button{
    position:absolute;
    bottom : 10px;
    left:50%;
    transform: translateX(-50%);
    padding:10px;
    width:80%;
    cursor:pointer;
}

