body,html{
    height:100%;
}
.project_container{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
height:80%;
min-height:80%;
text-align:center;
}

.project_container div{
    display:inline-block;
    border: 1px solid #000;
    padding: 5px;
    min-width:22%;
    max-width:24%;
}