#workspaceContainer{
    background: red;
    height: 80%;



    display: flex; /* Enables Flexbox */
    flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
    gap: 10px; /* Adds space between sections */
    align-content: flex-start; /* Aligns items to the top of the container */
    margin:10px;
}
#playground_text{margin-top: 50%;}
#playground_text::before{
    content: "Try To Explore Actions or add some event's";
    color: red;
    text-shadow:
            0 0 5px #fff,
            0 0 10px #ff00ff,
            0 0 20px #ff00ff,
            0 0 50px #ff00ff; /* Static glow effect */
}


#statusBAR{
    background: #0090ff;
    width: 100%;
    min-height: 10%;
    max-height: 15%;


    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    position: relative;

}
#status_Warning {
    align-self: flex-start; /* Keeps it horizontally aligned to the start */
    margin-top: auto;
    margin-bottom: auto; /* Centers it vertically only */
    margin-left: 5px;
}


#status_Info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers both vertically and horizontally */

}

.workspaceDIV{
    overflow: auto;
    height: 80%;
    width:22%;
    min-width: 150px;
    /*background-color: #586b7a;*/

    flex: 1 1 calc(50%); /* Each section takes up 25% of the container width */
    background-color: #f2f2f2; /* Background color */
    display: flex; /* Center content inside */
    /*align-items: center;*/
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

#kit_space,#event_space,#actions_space{
    flex: 1 1 calc(15%);
}

.event_item{
    color:green;
    cursor: pointer;
}

.event_item:hover{
    background-color: darkseagreen;
}


.eventBOXtitle{
    border: 1px solid darkblue;
    padding:10px;
    background-color: darkseagreen;
    color: white;
    border-radius: 5px 10px;
    text-align: center;
}
.action_block{
    border: 2px solid blanchedalmond;
    padding: 5px;
    background-color: thistle;
    color: crimson;
    border-radius: 0 20px 20px 0;
    display: inline-block;

}


.properties_block {
    display: inline-block;
    border: 2px solid blanchedalmond;
    padding: 5px;
    background-color: thistle;
    color: crimson;
}


#actions_space_container p{
    cursor: pointer;
}
#actions_space_container p:hover{
    background-color: darkcyan;
    color: white;
}

.kit_space_element{
    Color: green;
    cursor: pointer;
}
.kit_space_element:hover{
    color: crimson;
}

.selected_kit_from_space{
    color: darkgoldenrod;
    background-color: navy;
}
/*the purpose from this class is to add a SIGN for the active events etc*/
.beforeACTIVE::before{
content: "*";
    color: red;
}


.DeleteBlock{
    color:red;
    padding: 5px;
    cursor: pointer;
    background-color: beige;
    border-radius: 40%;
}



#dialog {
    display: none; /* Initially hidden */
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 100; /* Make sure it's on top */
}
#dialog p{
    display: inline;
    cursor: pointer;
    color: red;
}

#screenFilter{
    width: 100%;
    padding: 10px;
    padding-left: 0;
}
.filterSPAN{
    color: goldenrod;
}