#workspaceContainer{
    background: red;
    height: 80%;



    display: flex; /* Enables Flexbox */
    flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
    gap: 10px; /* Adds space between sections */
    align-content: flex-start; /* Aligns items to the top of the container */
    margin:10px;
}

#statusBAR{
    background: #0090ff;
    width: 100%;
    min-height: 10%;
    max-height: 15%;
}

.workspaceDIV{
    height: 80%;
    width:22%;
    min-width: 150px;
    /*background-color: #586b7a;*/

    flex: 1 1 calc(50%); /* Each section takes up 25% of the container width */
    background-color: #f2f2f2; /* Background color */
    display: flex; /* Center content inside */
    /*align-items: center;*/
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

#kit_space,#event_space,#actions_space{
    flex: 1 1 calc(15%);
}

.event_item{
    color:green;
    cursor: pointer;
}

.event_item:hover{
    background-color: darkseagreen;
}


.eventONclick{
    border: 1px solid darkblue;
    padding:10px;
    background-color: darkseagreen;
    color: white;
    border-radius: 5px 10px;
    text-align: center;
}
.action_block{
    border: 2px solid blanchedalmond;
    padding: 5px;
    background-color: thistle;
    color: crimson;
    border-radius: 0 20px 20px 0;
    display: inline-block;

}


.properties_block {
    display: inline-block;
    border: 2px solid blanchedalmond;
    padding: 5px;
    background-color: thistle;
    color: crimson;
}


#actions_space_container p{
    cursor: pointer;
}
#actions_space_container p:hover{
    background-color: darkcyan;
    color: white;
}